.navbar{
	border-radius: 0px;
	z-index: 10;
}
body{
	font-family: "Source Code Pro";
	height: 100%;
	width: 100%;
	margin: 0;
}
footer{
	position: fixed;
	margin: 0;
	bottom: 0;
	height: 2em;
	line-height: 2em;
	width:100%;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: smaller;
}
footer a,footer a:hover{
	color: white;
	text-decoration: none;
}
.sidebar{
	position: fixed;
	top: 0;
	height: 100%;
	background-color: #222;
  border-color: #080808;
}
.system_status{
	position: absolute;
  bottom: 30px;
  color: white;
}