.navbar{
	border-radius: 0px;
	z-index: 10;
}
body{
	font-family: "Source Code Pro";
}
footer{
	position: fixed;
	margin: 0;
	bottom: 0;
	height: 2em;
	line-height: 2em;
	width:100%;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: smaller;
}
footer a,footer a:hover{
	color: white;
	text-decoration: none;
}